{% use 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
{% spaceless %}
  {% set attr = attr|class('form-control') %}
  {% set div_attr = div_attr|default({})|class('col-md-3') %}
  <div{% for attrname, attrvalue in div_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ parent() }}
  </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
  {% if form.parent is empty %}
    {{ form_errors(form) }}
  {% endif %}
  {{ block('form_rows') }}
  {{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_start %}
{% spaceless %}
  {% set attr = attr|default({role: 'form'})|class('form-horizontal') %}
  {{ parent() }}
{% endspaceless %}
{% endblock form_start %}

{% block form_row %}
{% spaceless %}
  <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
  </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
  {% set label_attr = label_attr|class('control-label col-md-2') %}
  {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block choice_widget_collapsed %}
{% spaceless %}
  {% set attr = attr|class('form-control') %}
  {% set div_attr = div_attr|default({})|class('col-md-3') %}
  <div{% for attrname, attrvalue in div_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ parent() }}
  </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
{% spaceless %}
  {% set attr = attr|class('form-control') %}
  {% set div_attr = div_attr|default({})|class('col-md-3') %}
  <div{% for attrname, attrvalue in div_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ parent() }}
  </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% set error = errors|first %}
    <span class="help-block">{{ error.message }}</span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
